ul{
    width: 200px;
}

.addNewsBtn {
    font-size: 3em;
    color: yellow;
}

.btn{
    min-width: 50px;
}

#customNavbar{
    display: flex;
    justify-content:center;
    align-items: center;
}
@media screen and (max-width: 992px) {
    #customNavbar{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
}


.postTitle{
    margin: 10px;  
    font-weight: 600;
}

.postContainer{
    width: 80%;
    margin-bottom: 50px;
}
.postLayout{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

@media screen and (max-width: 992px) {
    .postLayout {
        display: grid;
        grid-template-columns: 10% 80% 10%;
    }
}

.postUserInfo{
    display: flex;
    flex-direction: column;
    padding-top: 2vmin;
    justify-self: right;
    height: fit-content;
    width: 9vmax;
    background-color: #ffffff;
    margin-right: 0;
    border-radius: 15px 0px 0px 15px;
    font-size:2vmax;
}

@media screen and (max-width: 992px) {
    .postUserInfo {
        display: flex;
        flex-direction: column;
        padding-top: 2vmin;
        justify-self: right;
        height: fit-content;
        width: 9vmax;
        background-color: #ffffff;
        margin-right: 0;
        border-radius: 15px 0px 0px 15px;
        font-size:2vmax;
    }
}

.postInfo{ 
    height: 100%;
    border-radius: 0px 15px 15px 15px;
    background-color: #ffffff;
}

.postImage{
    width: 100%;
    height: 400px;

}
.postDescription{
    padding: 10px;
}

.postCRUDBtnContainer{
    padding-top: 10px;
    height: 120px;
    width: 150px;
    text-align: left;
    margin-left: 10px;
    border-radius: 15px;
}
.editPost{
    cursor: pointer;
    margin-right: 5px;
    color: white;
}
.deletePost{
    cursor: pointer;
    color: white;
}
#photoDescription{
    height: 50vh;
}
.postAvatarContainer{
    margin: auto;
}
.postAvatar{
    width:7vmax;
    height: 7vmax;
    border-radius: 24px;
}
.postUsername{
    margin:auto;
    font-weight: 700;
    text-align: center;
    line-height: 1;
}
.postDate{
    border-top: 2px solid black;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
}
#username{
    margin-top: 8px;
    color: black;
}
.news-list-scroll-containter {
    height: 100%;
   
}
.news-list-container {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.navBarUserContainer{
    margin-top: revert;
    display: flex;
    width: auto;
    align-items: center;
}

.navbarSearchContainer{
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    margin-left: 10px;
}
@media screen and (max-width: 992px) {
    .navbarSearchContainer{
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        margin-left: 10px;
    }
}

.navbarSearchInput{
    display: flex;
}
.authorListItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}
.authorListItemText{
    padding: 3px;
    text-align: center;
}
#authorList{
    display: none;
    position: absolute;
    z-index: 100;
}